.content {
  width: 85%;
  min-height: 750px;
  min-width: 600px;
  background-color: $primary-color;
  font-size: 1.70rem;

  > * {
    padding-left: 30px;
  }

  p {
    width: 55%;
    min-width: 550px;
    font-size: 1.70rem;
  }

  img, video {
    height: 350px;
    width: 550px;
    margin-bottom: 30px;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
 }
}